*{
    box-sizing: border-box;
    -webkit-transition: background 0.5s, color 0.5s;
}
.contain{
  background-image: url('./bg.jpg');
  height: 94.7%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
    background-color: rgba(255, 255, 255, 0.829);
    width: 480px;
    height: 385px;    
    text-align: center;
    padding: 50px;   
    padding-top: 25px; 
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    border-radius: 12px;
}

.lgn_label{
    margin: 25px;
}

.input{
    height: 45px;
    margin-bottom: 17px;
}

.but{
    width: 27%;
    height: 10%;
    font-size: 17px;
    margin-top: 21px;
}

.signup_l{
    float:left;
    margin-top: -6px;
    margin-left: 3px;
}

.sign_l{
    color: #007bff;
    font-style: bold;
}
