.contain5{
    background-image: url('./bg.jpg');
    height: 94.7%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .net{
    width: 1900px;
    height: 925px;    
    padding: 50px;   
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;  
    text-align: center;
  }

  .doc_can{
    background-color: rgba(255, 255, 255, 0.829);
    width: 900px;
    height: 800px;    
    padding: 30px;   
    padding-left: 40px;
    padding-right: 50px;
    border-radius: 12px;
    float: left;
  }

  .video{
    background-color: rgba(255, 255, 255, 0.829);
    width: 800px;
    height: 500px;    
    padding: 25px;   
    border-radius: 12px;
    float: right;
    padding-top: 40px;
  }

.doc{
    background-color: white;
    text-align: left;
    height: 650px;
}
.ql-editor{
    background-color: white;
}
.vid{
    height: 360px;
}
.buttons{
    width: 730px;
    margin-top: -15px;
}
#uncontrolled-tab-example-tabpane-canvas{
    background-color: white
}
.clear{
    width: 810px;
}